<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mis.dao.mis.AjaxMapper" >
    <select id="getMacCount" resultType="java.lang.Integer">
        select count(*)
        from uf_maclist_dt1
        where use_flag=0
    </select>
    
    <select id="Sel_QD201706001DT1" resultType="com.cn.mis.domain.entity.mis.ajax.QD201706001DT1" parameterType="java.lang.String">
        select b.orderno,a.sn,a.mac,a.order_flag
        from uf_production_order_dt1 a
        left join uf_production_order b on a.mainid=b.id
        where b.orderno=#{orderno}
    </select>
    
    <select id="Sel_QD201706001DT2" resultType="com.cn.mis.domain.entity.mis.ajax.QD201706001DT2" parameterType="java.lang.String">
        select b.orderno,a.caseno,a.case_num
        from uf_production_order_dt2 a
        left join uf_production_order b on a.mainid=b.id
        where b.orderno=#{orderno}
    </select>
</mapper>