<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mis.dao.mis.FOPassengerMapper" >
  <resultMap id="BaseResultMap" type="com.cn.mis.domain.entity.mis.FOPassenger" >
    <id column="Sequence" property="Sequence" jdbcType="INTEGER" />
    <result column="PassengerName" property="PassengerName" jdbcType="VARCHAR" />
    <result column="SegStatus" property="SegStatus" jdbcType="VARCHAR" />
    <result column="TicketNo" property="TicketNo" jdbcType="VARCHAR" />
    <result column="CardTypeName" property="CardTypeName" jdbcType="VARCHAR" />
    <result column="CardTypeNumber" property="CardTypeNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Sequence, PassengerName, SegStatus, TicketNo, CardTypeName, CardTypeNumber
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qd_FlightOrderPassenger
  </select>

  <insert id="insertBatch" parameterType="java.util.List" >
    insert into qd_FlightOrderPassenger (Sequence, PassengerName, SegStatus,
      TicketNo, CardTypeName, CardTypeNumber
      )
    values
    <foreach collection="list" item="item" index="index" separator="," >
    (#{item.Sequence,jdbcType=INTEGER}, #{item.PassengerName,jdbcType=VARCHAR}, #{item.SegStatus,jdbcType=VARCHAR},
      #{item.TicketNo,jdbcType=VARCHAR}, #{item.CardTypeName,jdbcType=VARCHAR}, #{item.CardTypeNumber,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qd_FlightOrderPassenger
    where Sequence = #{Sequence,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qd_FlightOrderPassenger
    where Sequence = #{Sequence,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.mis.domain.entity.mis.FOPassenger" >
    insert into qd_FlightOrderPassenger (Sequence, PassengerName, SegStatus, 
      TicketNo, CardTypeName, CardTypeNumber
      )
    values (#{Sequence,jdbcType=INTEGER}, #{PassengerName,jdbcType=VARCHAR}, #{SegStatus,jdbcType=VARCHAR}, 
      #{TicketNo,jdbcType=VARCHAR}, #{CardTypeName,jdbcType=VARCHAR}, #{CardTypeNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.mis.domain.entity.mis.FOPassenger" >
    insert into qd_FlightOrderPassenger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="Sequence != null" >
        Sequence,
      </if>
      <if test="PassengerName != null" >
        PassengerName,
      </if>
      <if test="SegStatus != null" >
        SegStatus,
      </if>
      <if test="TicketNo != null" >
        TicketNo,
      </if>
      <if test="CardTypeName != null" >
        CardTypeName,
      </if>
      <if test="CardTypeNumber != null" >
        CardTypeNumber,
      </if>
      <if test="RecordID != null">
        RecordID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="Sequence != null" >
        #{Sequence,jdbcType=INTEGER},
      </if>
      <if test="PassengerName != null" >
        #{PassengerName,jdbcType=VARCHAR},
      </if>
      <if test="SegStatus != null" >
        #{SegStatus,jdbcType=VARCHAR},
      </if>
      <if test="TicketNo != null" >
        #{TicketNo,jdbcType=VARCHAR},
      </if>
      <if test="CardTypeName != null" >
        #{CardTypeName,jdbcType=VARCHAR},
      </if>
      <if test="CardTypeNumber != null" >
        #{CardTypeNumber,jdbcType=VARCHAR},
      </if>
      <if test="RecordID != null">
        #{RecordID}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.mis.domain.entity.mis.FOPassenger" >
    update qd_FlightOrderPassenger
    <set >
      <if test="PassengerName != null" >
        PassengerName = #{PassengerName,jdbcType=VARCHAR},
      </if>
      <if test="SegStatus != null" >
        SegStatus = #{SegStatus,jdbcType=VARCHAR},
      </if>
      <if test="TicketNo != null" >
        TicketNo = #{TicketNo,jdbcType=VARCHAR},
      </if>
      <if test="CardTypeName != null" >
        CardTypeName = #{CardTypeName,jdbcType=VARCHAR},
      </if>
      <if test="CardTypeNumber != null" >
        CardTypeNumber = #{CardTypeNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where Sequence = #{Sequence,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.mis.domain.entity.mis.FOPassenger" >
    update qd_FlightOrderPassenger
    set PassengerName = #{PassengerName,jdbcType=VARCHAR},
      SegStatus = #{SegStatus,jdbcType=VARCHAR},
      TicketNo = #{TicketNo,jdbcType=VARCHAR},
      CardTypeName = #{CardTypeName,jdbcType=VARCHAR},
      CardTypeNumber = #{CardTypeNumber,jdbcType=VARCHAR}
    where Sequence = #{Sequence,jdbcType=INTEGER}
  </update>
</mapper>