<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mis.dao.mis.FOSettlementBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cn.mis.domain.entity.mis.FOSettlementBaseInfo" >
    <id column="RecordID" property="RecordID" jdbcType="INTEGER" />
    <result column="OrderID" property="OrderID" jdbcType="BIGINT" />
    <result column="Sequence" property="Sequence" jdbcType="INTEGER" />
    <result column="CreateTime" property="CreateTime" jdbcType="TIMESTAMP" />
    <result column="AccountID" property="AccountID" jdbcType="INTEGER" />
    <result column="CorpID" property="CorpID" jdbcType="VARCHAR" />
    <result column="AccCheckBatchNo" property="AccCheckBatchNo" jdbcType="VARCHAR" />
    <result column="AccBalanceBatchNo" property="AccBalanceBatchNo" jdbcType="VARCHAR" />
    <result column="Remark" property="Remark" jdbcType="VARCHAR" />
    <result column="UnDeterminedAmount" property="UnDeterminedAmount" jdbcType="DECIMAL" />
    <result column="Price" property="Price" jdbcType="DECIMAL" />
    <result column="Tax" property="Tax" jdbcType="DECIMAL" />
    <result column="OilFee" property="OilFee" jdbcType="DECIMAL" />
    <result column="SendTicketFee" property="SendTicketFee" jdbcType="DECIMAL" />
    <result column="InsuranceFee" property="InsuranceFee" jdbcType="DECIMAL" />
    <result column="ServiceFee" property="ServiceFee" jdbcType="DECIMAL" />
    <result column="Coupon" property="Coupon" jdbcType="DECIMAL" />
    <result column="RefundServiceFee" property="RefundServiceFee" jdbcType="DECIMAL" />
    <result column="Refund" property="Refund" jdbcType="DECIMAL" />
    <result column="Amount" property="Amount" jdbcType="DECIMAL" />
    <result column="RebookQueryFee" property="RebookQueryFee" jdbcType="DECIMAL" />
    <result column="BaseServiceFee" property="BaseServiceFee" jdbcType="DECIMAL" />
    <result column="UnWorkTimeServiceFee" property="UnWorkTimeServiceFee" jdbcType="DECIMAL" />
    <result column="VIPServiceFee" property="VIPServiceFee" jdbcType="DECIMAL" />
    <result column="BindServiceFee" property="BindServiceFee" jdbcType="DECIMAL" />
    <result column="Subsidy" property="Subsidy" jdbcType="DECIMAL" />
    <result column="ReBookingServiceFee" property="ReBookingServiceFee" jdbcType="DECIMAL" />
    <result column="OrderDetailType" property="OrderDetailType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RecordID, OrderID, Sequence, CreateTime, AccountID, CorpID, AccCheckBatchNo, AccBalanceBatchNo, 
    Remark, UnDeterminedAmount, Price, Tax, OilFee, SendTicketFee, InsuranceFee, ServiceFee, 
    Coupon, RefundServiceFee, Refund, Amount, RebookQueryFee, BaseServiceFee, UnWorkTimeServiceFee, 
    VIPServiceFee, BindServiceFee, Subsidy, ReBookingServiceFee, OrderDetailType
  </sql>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into qd_FlightOrderSettlementBaseInfo (RecordID, OrderID, Sequence,
      CreateTime, AccountID, CorpID,
      AccCheckBatchNo, AccBalanceBatchNo, Remark,
      UnDeterminedAmount, Price, Tax,
      OilFee, SendTicketFee, InsuranceFee,
      ServiceFee, Coupon, RefundServiceFee,
      Refund, Amount, RebookQueryFee,
      BaseServiceFee, UnWorkTimeServiceFee, VIPServiceFee,
      BindServiceFee, Subsidy, ReBookingServiceFee,
      OrderDetailType)
    values (#{RecordID,jdbcType=INTEGER}, #{OrderID,jdbcType=BIGINT}, #{Sequence,jdbcType=INTEGER},
      #{CreateTime,jdbcType=TIMESTAMP}, #{AccountID,jdbcType=INTEGER}, #{CorpID,jdbcType=VARCHAR},
      #{AccCheckBatchNo,jdbcType=VARCHAR}, #{AccBalanceBatchNo,jdbcType=VARCHAR}, #{Remark,jdbcType=VARCHAR},
      #{UnDeterminedAmount,jdbcType=DECIMAL}, #{Price,jdbcType=DECIMAL}, #{Tax,jdbcType=DECIMAL},
      #{OilFee,jdbcType=DECIMAL}, #{SendTicketFee,jdbcType=DECIMAL}, #{InsuranceFee,jdbcType=DECIMAL},
      #{ServiceFee,jdbcType=DECIMAL}, #{Coupon,jdbcType=DECIMAL}, #{RefundServiceFee,jdbcType=DECIMAL},
      #{Refund,jdbcType=DECIMAL}, #{Amount,jdbcType=DECIMAL}, #{RebookQueryFee,jdbcType=DECIMAL},
      #{BaseServiceFee,jdbcType=DECIMAL}, #{UnWorkTimeServiceFee,jdbcType=DECIMAL}, #{VIPServiceFee,jdbcType=DECIMAL},
      #{BindServiceFee,jdbcType=DECIMAL}, #{Subsidy,jdbcType=DECIMAL}, #{ReBookingServiceFee,jdbcType=DECIMAL},
      #{OrderDetailType,jdbcType=VARCHAR})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qd_FlightOrderSettlementBaseInfo
    where RecordID = #{RecordID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qd_FlightOrderSettlementBaseInfo
    where RecordID = #{RecordID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.mis.domain.entity.mis.FOSettlementBaseInfo" >
    insert into qd_FlightOrderSettlementBaseInfo (RecordID, OrderID, Sequence, 
      CreateTime, AccountID, CorpID, 
      AccCheckBatchNo, AccBalanceBatchNo, Remark, 
      UnDeterminedAmount, Price, Tax, 
      OilFee, SendTicketFee, InsuranceFee, 
      ServiceFee, Coupon, RefundServiceFee, 
      Refund, Amount, RebookQueryFee, 
      BaseServiceFee, UnWorkTimeServiceFee, VIPServiceFee, 
      BindServiceFee, Subsidy, ReBookingServiceFee, 
      OrderDetailType)
    values (#{RecordID,jdbcType=INTEGER}, #{OrderID,jdbcType=BIGINT}, #{Sequence,jdbcType=INTEGER}, 
      #{CreateTime,jdbcType=TIMESTAMP}, #{AccountID,jdbcType=INTEGER}, #{CorpID,jdbcType=VARCHAR}, 
      #{AccCheckBatchNo,jdbcType=VARCHAR}, #{AccBalanceBatchNo,jdbcType=VARCHAR}, #{Remark,jdbcType=VARCHAR}, 
      #{UnDeterminedAmount,jdbcType=DECIMAL}, #{Price,jdbcType=DECIMAL}, #{Tax,jdbcType=DECIMAL}, 
      #{OilFee,jdbcType=DECIMAL}, #{SendTicketFee,jdbcType=DECIMAL}, #{InsuranceFee,jdbcType=DECIMAL}, 
      #{ServiceFee,jdbcType=DECIMAL}, #{Coupon,jdbcType=DECIMAL}, #{RefundServiceFee,jdbcType=DECIMAL}, 
      #{Refund,jdbcType=DECIMAL}, #{Amount,jdbcType=DECIMAL}, #{RebookQueryFee,jdbcType=DECIMAL}, 
      #{BaseServiceFee,jdbcType=DECIMAL}, #{UnWorkTimeServiceFee,jdbcType=DECIMAL}, #{VIPServiceFee,jdbcType=DECIMAL}, 
      #{BindServiceFee,jdbcType=DECIMAL}, #{Subsidy,jdbcType=DECIMAL}, #{ReBookingServiceFee,jdbcType=DECIMAL}, 
      #{OrderDetailType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.mis.domain.entity.mis.FOSettlementBaseInfo" >
    insert into qd_FlightOrderSettlementBaseInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="RecordID != null" >
        RecordID,
      </if>
      <if test="OrderID != null" >
        OrderID,
      </if>
      <if test="Sequence != null" >
        Sequence,
      </if>
      <if test="CreateTime != null" >
        CreateTime,
      </if>
      <if test="AccountID != null" >
        AccountID,
      </if>
      <if test="CorpID != null" >
        CorpID,
      </if>
      <if test="AccCheckBatchNo != null" >
        AccCheckBatchNo,
      </if>
      <if test="AccBalanceBatchNo != null" >
        AccBalanceBatchNo,
      </if>
      <if test="Remark != null" >
        Remark,
      </if>
      <if test="UnDeterminedAmount != null" >
        UnDeterminedAmount,
      </if>
      <if test="Price != null" >
        Price,
      </if>
      <if test="Tax != null" >
        Tax,
      </if>
      <if test="OilFee != null" >
        OilFee,
      </if>
      <if test="SendTicketFee != null" >
        SendTicketFee,
      </if>
      <if test="InsuranceFee != null" >
        InsuranceFee,
      </if>
      <if test="ServiceFee != null" >
        ServiceFee,
      </if>
      <if test="Coupon != null" >
        Coupon,
      </if>
      <if test="RefundServiceFee != null" >
        RefundServiceFee,
      </if>
      <if test="Refund != null" >
        Refund,
      </if>
      <if test="Amount != null" >
        Amount,
      </if>
      <if test="RebookQueryFee != null" >
        RebookQueryFee,
      </if>
      <if test="BaseServiceFee != null" >
        BaseServiceFee,
      </if>
      <if test="UnWorkTimeServiceFee != null" >
        UnWorkTimeServiceFee,
      </if>
      <if test="VIPServiceFee != null" >
        VIPServiceFee,
      </if>
      <if test="BindServiceFee != null" >
        BindServiceFee,
      </if>
      <if test="Subsidy != null" >
        Subsidy,
      </if>
      <if test="ReBookingServiceFee != null" >
        ReBookingServiceFee,
      </if>
      <if test="OrderDetailType != null" >
        OrderDetailType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="RecordID != null" >
        #{RecordID,jdbcType=INTEGER},
      </if>
      <if test="OrderID != null" >
        #{OrderID,jdbcType=BIGINT},
      </if>
      <if test="Sequence != null" >
        #{Sequence,jdbcType=INTEGER},
      </if>
      <if test="CreateTime != null" >
        #{CreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="AccountID != null" >
        #{AccountID,jdbcType=INTEGER},
      </if>
      <if test="CorpID != null" >
        #{CorpID,jdbcType=VARCHAR},
      </if>
      <if test="AccCheckBatchNo != null" >
        #{AccCheckBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="AccBalanceBatchNo != null" >
        #{AccBalanceBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="Remark != null" >
        #{Remark,jdbcType=VARCHAR},
      </if>
      <if test="UnDeterminedAmount != null" >
        #{UnDeterminedAmount,jdbcType=DECIMAL},
      </if>
      <if test="Price != null" >
        #{Price,jdbcType=DECIMAL},
      </if>
      <if test="Tax != null" >
        #{Tax,jdbcType=DECIMAL},
      </if>
      <if test="OilFee != null" >
        #{OilFee,jdbcType=DECIMAL},
      </if>
      <if test="SendTicketFee != null" >
        #{SendTicketFee,jdbcType=DECIMAL},
      </if>
      <if test="InsuranceFee != null" >
        #{InsuranceFee,jdbcType=DECIMAL},
      </if>
      <if test="ServiceFee != null" >
        #{ServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="Coupon != null" >
        #{Coupon,jdbcType=DECIMAL},
      </if>
      <if test="RefundServiceFee != null" >
        #{RefundServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="Refund != null" >
        #{Refund,jdbcType=DECIMAL},
      </if>
      <if test="Amount != null" >
        #{Amount,jdbcType=DECIMAL},
      </if>
      <if test="RebookQueryFee != null" >
        #{RebookQueryFee,jdbcType=DECIMAL},
      </if>
      <if test="BaseServiceFee != null" >
        #{BaseServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="UnWorkTimeServiceFee != null" >
        #{UnWorkTimeServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="VIPServiceFee != null" >
        #{VIPServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="BindServiceFee != null" >
        #{BindServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="Subsidy != null" >
        #{Subsidy,jdbcType=DECIMAL},
      </if>
      <if test="ReBookingServiceFee != null" >
        #{ReBookingServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="OrderDetailType != null" >
        #{OrderDetailType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.mis.domain.entity.mis.FOSettlementBaseInfo" >
    update qd_FlightOrderSettlementBaseInfo
    <set >
      <if test="OrderID != null" >
        OrderID = #{OrderID,jdbcType=BIGINT},
      </if>
      <if test="Sequence != null" >
        Sequence = #{Sequence,jdbcType=INTEGER},
      </if>
      <if test="CreateTime != null" >
        CreateTime = #{CreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="AccountID != null" >
        AccountID = #{AccountID,jdbcType=INTEGER},
      </if>
      <if test="CorpID != null" >
        CorpID = #{CorpID,jdbcType=VARCHAR},
      </if>
      <if test="AccCheckBatchNo != null" >
        AccCheckBatchNo = #{AccCheckBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="AccBalanceBatchNo != null" >
        AccBalanceBatchNo = #{AccBalanceBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="Remark != null" >
        Remark = #{Remark,jdbcType=VARCHAR},
      </if>
      <if test="UnDeterminedAmount != null" >
        UnDeterminedAmount = #{UnDeterminedAmount,jdbcType=DECIMAL},
      </if>
      <if test="Price != null" >
        Price = #{Price,jdbcType=DECIMAL},
      </if>
      <if test="Tax != null" >
        Tax = #{Tax,jdbcType=DECIMAL},
      </if>
      <if test="OilFee != null" >
        OilFee = #{OilFee,jdbcType=DECIMAL},
      </if>
      <if test="SendTicketFee != null" >
        SendTicketFee = #{SendTicketFee,jdbcType=DECIMAL},
      </if>
      <if test="InsuranceFee != null" >
        InsuranceFee = #{InsuranceFee,jdbcType=DECIMAL},
      </if>
      <if test="ServiceFee != null" >
        ServiceFee = #{ServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="Coupon != null" >
        Coupon = #{Coupon,jdbcType=DECIMAL},
      </if>
      <if test="RefundServiceFee != null" >
        RefundServiceFee = #{RefundServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="Refund != null" >
        Refund = #{Refund,jdbcType=DECIMAL},
      </if>
      <if test="Amount != null" >
        Amount = #{Amount,jdbcType=DECIMAL},
      </if>
      <if test="RebookQueryFee != null" >
        RebookQueryFee = #{RebookQueryFee,jdbcType=DECIMAL},
      </if>
      <if test="BaseServiceFee != null" >
        BaseServiceFee = #{BaseServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="UnWorkTimeServiceFee != null" >
        UnWorkTimeServiceFee = #{UnWorkTimeServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="VIPServiceFee != null" >
        VIPServiceFee = #{VIPServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="BindServiceFee != null" >
        BindServiceFee = #{BindServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="Subsidy != null" >
        Subsidy = #{Subsidy,jdbcType=DECIMAL},
      </if>
      <if test="ReBookingServiceFee != null" >
        ReBookingServiceFee = #{ReBookingServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="OrderDetailType != null" >
        OrderDetailType = #{OrderDetailType,jdbcType=VARCHAR},
      </if>
    </set>
    where RecordID = #{RecordID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.mis.domain.entity.mis.FOSettlementBaseInfo" >
    update qd_FlightOrderSettlementBaseInfo
    set OrderID = #{OrderID,jdbcType=BIGINT},
      Sequence = #{Sequence,jdbcType=INTEGER},
      CreateTime = #{CreateTime,jdbcType=TIMESTAMP},
      AccountID = #{AccountID,jdbcType=INTEGER},
      CorpID = #{CorpID,jdbcType=VARCHAR},
      AccCheckBatchNo = #{AccCheckBatchNo,jdbcType=VARCHAR},
      AccBalanceBatchNo = #{AccBalanceBatchNo,jdbcType=VARCHAR},
      Remark = #{Remark,jdbcType=VARCHAR},
      UnDeterminedAmount = #{UnDeterminedAmount,jdbcType=DECIMAL},
      Price = #{Price,jdbcType=DECIMAL},
      Tax = #{Tax,jdbcType=DECIMAL},
      OilFee = #{OilFee,jdbcType=DECIMAL},
      SendTicketFee = #{SendTicketFee,jdbcType=DECIMAL},
      InsuranceFee = #{InsuranceFee,jdbcType=DECIMAL},
      ServiceFee = #{ServiceFee,jdbcType=DECIMAL},
      Coupon = #{Coupon,jdbcType=DECIMAL},
      RefundServiceFee = #{RefundServiceFee,jdbcType=DECIMAL},
      Refund = #{Refund,jdbcType=DECIMAL},
      Amount = #{Amount,jdbcType=DECIMAL},
      RebookQueryFee = #{RebookQueryFee,jdbcType=DECIMAL},
      BaseServiceFee = #{BaseServiceFee,jdbcType=DECIMAL},
      UnWorkTimeServiceFee = #{UnWorkTimeServiceFee,jdbcType=DECIMAL},
      VIPServiceFee = #{VIPServiceFee,jdbcType=DECIMAL},
      BindServiceFee = #{BindServiceFee,jdbcType=DECIMAL},
      Subsidy = #{Subsidy,jdbcType=DECIMAL},
      ReBookingServiceFee = #{ReBookingServiceFee,jdbcType=DECIMAL},
      OrderDetailType = #{OrderDetailType,jdbcType=VARCHAR}
    where RecordID = #{RecordID,jdbcType=INTEGER}
  </update>
</mapper>