<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mis.dao.mis.RolePathUrlMapper" >
    <resultMap id="BaseResultMap" type="com.cn.mis.domain.entity.mis.RolePathUrl" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="roleId" property="roleId" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="seq" property="seq" jdbcType="INTEGER" />
    </resultMap>

    <select id="getTopMenuByRole" resultMap="BaseResultMap" >
        SELECT mrr.id,mrr.roleId,mr2.description,mr2.url,mr2.seq
        FROM MIS_RoleResource mrr LEFT JOIN MIS_Role mr ON mrr.roleId=mr.id LEFT JOIN MIS_Resource mr2 ON mrr.resourceId = mr2.id
        WHERE isLeaf = 0 AND mr2.delFlag != 1 AND mr.id=#{roleId}
        ORDER BY mr2.seq ASC
    </select>

    <select id="getChiledMenuByRole" resultMap="BaseResultMap">
        SELECT mrr.id,mrr.roleId,mr2.description,mr2.url,mr2.seq
        FROM MIS_RoleResource mrr LEFT JOIN MIS_Role mr ON mrr.roleId=mr.id LEFT JOIN MIS_Resource mr2 ON mrr.resourceId = mr2.id
        WHERE isLeaf = 1 AND mr2.delFlag != 1 AND pid =#{pid} AND mr.id = #{roleId}
        ORDER BY mr2.seq ASC
    </select>

</mapper>