<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mis.dao.PayRegisterMapper" >
    <resultMap id="BaseResultMap" type="com.cn.mis.domain.entity.PayRegister" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="requestname" property="requestname" jdbcType="VARCHAR" />
        <result column="employee" property="employee" jdbcType="VARCHAR" />
        <result column="department" property="department" jdbcType="INTEGER" />
        <result column="departmentname" property="departmentname" jdbcType="VARCHAR" />
        <result column="request_date" property="request_date" jdbcType="CHAR" />
        <result column="lastname" property="lastname" jdbcType="VARCHAR" />
        <result column="requestId" property="requestId" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="payment_code" property="payment_code" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="payer_a" property="payer_a" jdbcType="VARCHAR" />
        <result column="vendor" property="vendor" jdbcType="VARCHAR" />
        <result column="revendor" property="revendor" jdbcType="VARCHAR" />
        <result column="bank" property="bank" jdbcType="VARCHAR" />
        <result column="payer_bank" property="payer_bank" jdbcType="VARCHAR" />
        <result column="payer_account" property="payer_account" jdbcType="VARCHAR" />
        <result column="payer_bank_account" property="payer_bank_account" jdbcType="VARCHAR" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="reaccount" property="reaccount" jdbcType="VARCHAR" />
        <result column="bank_account" property="bank_account" jdbcType="VARCHAR" />
        <result column="pay_date" property="pay_date" jdbcType="VARCHAR" />
        <result column="pay_amount" property="pay_amount" jdbcType="DECIMAL" />
        <result column="loan_amount" property="loan_amount" jdbcType="DECIMAL" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
    </resultMap>
    <resultMap id="BankResultMap" type="com.cn.mis.domain.entity.PayRegister">
        <result column="bank_id" property="bank_id" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="bank" property="bank" jdbcType="VARCHAR" />
        <result column="vendor" property="vendor" jdbcType="VARCHAR" />
        <result column="corp_id" property="corp_id" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="SubmitStatusResultMap" type="com.cn.mis.domain.bean.pojo.SubmitStatus">
        <result column="selectvalue" property="selectvalue" jdbcType="INTEGER" />
        <result column="selectname" property="selectname" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="selectDailyContractByPage" resultMap="BaseResultMap" parameterType="com.cn.mis.domain.bean.req.PayRegisterReq">
        SELECT m.id,
            m.requestId,
            q.requestname,
            m.payment_code,
            m.status ,
            m.payer,
            v.vendor,
            m.payer_bank,
            m.payer_bank_account,
            m.payer_account,
            m.pay_date,
            m.amount,
            hr.lastname ,
            hd.departmentname,
            v1.vendor AS revendor,
            case when isnull(m.account,'')!='' then (select dt.account from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.account) else null end AS reaccount,
            case when isnull(m.payer_account,'')!='' then (select dt.account from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.payer_account) else null end AS account,
            case when isnull(m.payer_account,'')!='' then (select dt.bank from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.payer_account) else null end AS bank
        FROM formtable_main_35 m
            LEFT JOIN uf_vendor v ON m.payer = v.id
            LEFT JOIN uf_vendor v1 ON m.payee = v1.id
            INNER JOIN workflow_requestbase q ON m.requestId = q.requestid
            LEFT JOIN HrmResource hr ON m.employee = hr.id
            LEFT JOIN HrmDepartment hd ON m.department = hd.id
        WHERE 1 = 1
        <if test="status != null">
            AND m.status = #{status}
        </if>
        <if test="payment_code != null">
            AND m.payment_code LIKE '%${payment_code}%'
        </if>
        <if test="requestname != null">
            AND q.requestname LIKE '%${requestname}%'
        </if>
        <if test="lastname != null">
            AND hr.lastname LIKE '%${lastname}%'
        </if>
        <if test="departmentname != null">
            AND hd.departmentname LIKE '%${departmentname}%'
        </if>
        <if test="startdate != null">
            AND m.pay_date >= #{startdate}
        </if>
        <if test="enddate != null">
            AND #{enddate} >= m.pay_date
        </if>
        <if test="vendor != null">
            AND v.vendor LIKE '%${vendor}%'
        </if>
        ORDER BY m.id
    </select>
    
    <select id="selectPropertyContractByPage" resultMap="BaseResultMap" parameterType="com.cn.mis.domain.bean.req.PayRegisterReq">
        SELECT m.id,
            m.requestId,
            q.requestname,
            m.code,
            m.status ,
            m.payer,
            v.vendor,
            m.payer_bank,
            m.payer_bank_account,
            m.payer_account,
            m.pay_date,
            m.amount,
            hr.lastname ,
            hd.departmentname,
            v1.vendor AS revendor,
            case when isnull(m.account,'')!='' then (select dt.account from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.account) else null end AS reaccount,
            case when isnull(m.payer_account,'')!='' then (select dt.account from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.payer_account) else null end AS account,
            case when isnull(m.payer_account,'')!='' then (select dt.bank from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.payer_account) else null end AS bank
        FROM formtable_main_56 m
        LEFT JOIN uf_vendor v ON m.payer = v.id
        LEFT JOIN uf_vendor v1 ON m.payee = v1.id
        INNER JOIN workflow_requestbase q ON m.requestId = q.requestid
        LEFT JOIN HrmResource hr ON m.employee = hr.id
        LEFT JOIN HrmDepartment hd ON m.department = hd.id
        WHERE 1 = 1
        <if test="status != null">
            AND m.status = #{status}
        </if>
        <if test="code != null">
            AND m.code LIKE '%${code}%'
        </if>
        <if test="requestname != null">
            AND q.requestname LIKE '%${requestname}%'
        </if>
        <if test="lastname != null">
            AND hr.lastname LIKE '%${lastname}%'
        </if>
        <if test="departmentname != null">
            AND hd.departmentname LIKE '%${departmentname}%'
        </if>
        <if test="startdate != null">
            AND m.pay_date >= #{startdate}
        </if>
        <if test="enddate != null">
            AND #{enddate} >= m.pay_date
        </if>
        <if test="vendor != null">
            AND v.vendor LIKE '%${vendor}%'
        </if>
        ORDER BY m.id
    </select>

    <select id="selectDailySubmitByPage" resultMap="BaseResultMap" parameterType="com.cn.mis.domain.bean.req.PayRegisterReq">
        select
        q.requestname ,
        m.code ,
        m.id,
        m.requestId,
        m.status ,
        m.payer_a,
        v.vendor,
        m.payer_bank,
        m.payer_bank_account,
        m.payer_account,
        m.pay_date,
        m.pay_amount,
        m.employee,
        m.department,
        m.request_date,
        hr.lastname ,
        hd.departmentname,
        v1.vendor AS revendor,
        m.bank_account,
        case when isnull(m.outer_payee,'')!='' then (select dt.account from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.outer_payee) else null end AS reaccount,
        case when isnull(m.payer_account,'')!='' then (select dt.account from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.payer_account) else null end AS account,
        case when isnull(m.payer_account,'')!='' then (select dt.bank from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.payer_account) else null end AS bank
        from formtable_main_4 m
        LEFT JOIN uf_vendor v ON m.payer_a = v.id
        LEFT JOIN uf_vendor v1 ON m.outer_payee  = v1.id
        LEFT JOIN HrmResource hr ON m.inner_payee = hr.id
        LEFT JOIN HrmDepartment hd ON m.department = hd.id
        INNER JOIN workflow_requestbase q ON m.requestId = q.requestid
        where  1 = 1
        <if test="status != null">
           AND m.status = #{status}
        </if>
        <if test="code != null">
          AND m.code LIKE '%${code}%'
        </if>
        <if test="requestname != null">
            AND q.requestname LIKE '%${requestname}%'
        </if>
        <if test="lastname != null">
            AND hr.lastname LIKE '%${lastname}%'
        </if>
        <if test="departmentname != null">
            AND hd.departmentname LIKE '%${departmentname}%'
        </if>
        <if test="startdate != null">
            AND m.pay_date >= #{startdate}
        </if>
        <if test="enddate != null">
            AND #{enddate} >= m.pay_date
        </if>
        <if test="vendor != null">
            AND v.vendor LIKE '%${vendor}%'
        </if>
        ORDER BY m.id
    </select>

    <select id="selectReceiveLoanByPage" resultMap="BaseResultMap" parameterType="com.cn.mis.domain.bean.req.PayRegisterReq">
        SELECT m.id,
            m.requestId,
            q.requestname,
            m.code,
            m.status ,
            m.payer_a,
            v.vendor,
            m.payer_bank,
            m.payer_bank_account,
            m.payer_account,
            m.pay_date,
            m.loan_amount,
            hr.lastname ,
            hd.departmentname,
            m.bank_account,
        case when isnull(m.outer_payee,'')!='' then (select dt.account from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.outer_payee) else null end AS reaccount,
        case when isnull(m.payer_account,'')!='' then (select dt.account from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.payer_account) else null end AS account,
        case when isnull(m.payer_account,'')!='' then (select dt.bank from uf_vendor_dt1 dt where cast(dt.id as varchar) = m.payer_account) else null end AS bank
        FROM formtable_main_3 m
        LEFT JOIN uf_vendor v ON m.payer_a = v.id
        LEFT JOIN uf_vendor v1 ON m.outer_payee  = v1.id
        LEFT JOIN HrmResource hr ON m.inner_payee = hr.id
        LEFT JOIN HrmDepartment hd ON m.department = hd.id
        INNER JOIN workflow_requestbase q ON m.requestId = q.requestid
        WHERE 1=1
        <if test="status != null">
            AND m.status = #{status}
        </if>
        <if test="code != null">
            AND m.code LIKE '%${code}%'
        </if>
        <if test="requestname != null">
            AND q.requestname LIKE '%${requestname}%'
        </if>
        <if test="lastname != null">
            AND hr.lastname LIKE '%${lastname}%'
        </if>
        <if test="departmentname != null">
            AND hd.departmentname LIKE '%${departmentname}%'
        </if>
        <if test="startdate != null">
            AND m.pay_date >= #{startdate}
        </if>
        <if test="enddate != null">
            AND #{enddate} >= m.pay_date
        </if>
        <if test="vendor != null">
            AND v.vendor LIKE '%${vendor}%'
        </if>
        ORDER BY m.id
    </select>

    <select id="selectAllBank" resultMap="BankResultMap" parameterType="com.cn.mis.domain.bean.req.PayRegisterReq">
        select bank_id,account,bank,vendor,corp_id
        from payer_bank_v
        WHERE 1 = 1
        <if test="account != null">
            AND account LIKE '%${account}%'
        </if>
        <if test="bank != null">
            AND bank LIKE '%${bank}%'
        </if>
        <if test="vendor != null">
            AND vendor LIKE '%${vendor}%'
        </if>
        order by corp_id
    </select>

    <update id="updateDSPayerAccountBatch" parameterType="java.util.List">
        update formtable_main_4
        SET payer_bank = #{payer_bank},
          payer_account = #{payer_account},
          pay_date = #{pay_date},
          payer_bank_account = #{payer_bank_account}
        where
        <foreach collection="list" separator="or" item="item" index="index" >
            id=#{item}
        </foreach>
    </update>

    <update id="updatePCPayerAccountBatch" parameterType="java.util.List">
        update formtable_main_56
        SET payer_bank = #{payer_bank},
          payer_account = #{payer_account},
          pay_date = #{pay_date},
          payer_bank_account = #{payer_bank_account}
        where
        <foreach collection="list" separator="or" item="item" index="index" >
            id=#{item}
        </foreach>
    </update>

    <update id="updateDCPayerAccountBatch" parameterType="java.util.List">
        update formtable_main_35
        SET payer_bank = #{payer_bank},
        payer_account = #{payer_account},
        pay_date = #{pay_date},
        payer_bank_account = #{payer_bank_account}
        where
        <foreach collection="list" separator="or" item="item" index="index" >
            id=#{item}
        </foreach>
    </update>

    <update id="updateRLPayerAccountBatch" parameterType="java.util.List">
        update formtable_main_3
        SET payer_bank = #{payer_bank},
        payer_account = #{payer_account},
        pay_date = #{pay_date},
        payer_bank_account = #{payer_bank_account}
        where
        <foreach collection="list" separator="or" item="item" index="index" >
            id=#{item}
        </foreach>
    </update>

    <select id="selectSubmitStatus" resultMap="SubmitStatusResultMap">
        select selectvalue,selectname from workflow_selectitem where fieldid = 7661
    </select>

</mapper>