<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mis.dao.CRMAccountMapper" >
  <resultMap id="BaseResultMap" type="com.cn.mis.domain.entity.CRMAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dbcInteger1" property="dbcinteger1" jdbcType="INTEGER" />
    <result column="dbcInteger6" property="dbcinteger6" jdbcType="INTEGER" />
    <result column="dbcVarchar2" property="dbcvarchar2" jdbcType="VARCHAR" />
    <result column="dbcReal1" property="dbcreal1" jdbcType="DOUBLE" />
    <result column="dbcSelect3" property="dbcselect3" jdbcType="INTEGER" />
    <result column="dbcSVarchar1" property="dbcsvarchar1" jdbcType="VARCHAR" />
    <result column="ownerId" property="ownerid" jdbcType="INTEGER" />
    <result column="accountName" property="accountname" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="lockStatus" property="lockstatus" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="ownerPhone" property="ownerphone" jdbcType="VARCHAR" />
    <result column="levelExplain" property="levelexplain" jdbcType="VARCHAR" />
    <result column="ownerName" property="ownername" jdbcType="VARCHAR" />
    <result column="dbcSelect3Explain" property="dbcselect3explain" jdbcType="VARCHAR" />
    <result column="lockStatusExplain" property="lockstatusexplain" jdbcType="VARCHAR" />
    <result column="importStatus" property="importstatus" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="VARCHAR" />
    <result column="highSeaId" property="highseaid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dbcInteger1, dbcInteger6, dbcVarchar2, dbcReal1, dbcSelect3, dbcSVarchar1, ownerId, 
    accountName, level, lockStatus, city, region, ownerPhone, levelExplain, ownerName, 
    dbcSelect3Explain, lockStatusExplain, importStatus, state, department, account_type, 
    highSeaId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CRM_Account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CRM_Account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.mis.domain.entity.CRMAccount" >
    insert into CRM_Account (id, dbcInteger1, dbcInteger6, 
      dbcVarchar2, dbcReal1, dbcSelect3, 
      dbcSVarchar1, ownerId, accountName, 
      level, lockStatus, city, 
      region, ownerPhone, levelExplain, 
      ownerName, dbcSelect3Explain, lockStatusExplain, 
      importStatus, state, department, 
      account_type, highSeaId)
    values (#{id,jdbcType=INTEGER}, #{dbcinteger1,jdbcType=INTEGER}, #{dbcinteger6,jdbcType=INTEGER}, 
      #{dbcvarchar2,jdbcType=VARCHAR}, #{dbcreal1,jdbcType=DOUBLE}, #{dbcselect3,jdbcType=INTEGER}, 
      #{dbcsvarchar1,jdbcType=VARCHAR}, #{ownerid,jdbcType=INTEGER}, #{accountname,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{lockstatus,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{ownerphone,jdbcType=VARCHAR}, #{levelexplain,jdbcType=VARCHAR}, 
      #{ownername,jdbcType=VARCHAR}, #{dbcselect3explain,jdbcType=VARCHAR}, #{lockstatusexplain,jdbcType=VARCHAR}, 
      #{importstatus,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{accountType,jdbcType=VARCHAR}, #{highseaid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.mis.domain.entity.CRMAccount" >
    insert into CRM_Account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dbcinteger1 != null" >
        dbcInteger1,
      </if>
      <if test="dbcinteger6 != null" >
        dbcInteger6,
      </if>
      <if test="dbcvarchar2 != null" >
        dbcVarchar2,
      </if>
      <if test="dbcreal1 != null" >
        dbcReal1,
      </if>
      <if test="dbcselect3 != null" >
        dbcSelect3,
      </if>
      <if test="dbcsvarchar1 != null" >
        dbcSVarchar1,
      </if>
      <if test="ownerid != null" >
        ownerId,
      </if>
      <if test="accountname != null" >
        accountName,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="lockstatus != null" >
        lockStatus,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="ownerphone != null" >
        ownerPhone,
      </if>
      <if test="levelexplain != null" >
        levelExplain,
      </if>
      <if test="ownername != null" >
        ownerName,
      </if>
      <if test="dbcselect3explain != null" >
        dbcSelect3Explain,
      </if>
      <if test="lockstatusexplain != null" >
        lockStatusExplain,
      </if>
      <if test="importstatus != null" >
        importStatus,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="highseaid != null" >
        highSeaId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dbcinteger1 != null" >
        #{dbcinteger1,jdbcType=INTEGER},
      </if>
      <if test="dbcinteger6 != null" >
        #{dbcinteger6,jdbcType=INTEGER},
      </if>
      <if test="dbcvarchar2 != null" >
        #{dbcvarchar2,jdbcType=VARCHAR},
      </if>
      <if test="dbcreal1 != null" >
        #{dbcreal1,jdbcType=DOUBLE},
      </if>
      <if test="dbcselect3 != null" >
        #{dbcselect3,jdbcType=INTEGER},
      </if>
      <if test="dbcsvarchar1 != null" >
        #{dbcsvarchar1,jdbcType=VARCHAR},
      </if>
      <if test="ownerid != null" >
        #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="accountname != null" >
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="lockstatus != null" >
        #{lockstatus,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="ownerphone != null" >
        #{ownerphone,jdbcType=VARCHAR},
      </if>
      <if test="levelexplain != null" >
        #{levelexplain,jdbcType=VARCHAR},
      </if>
      <if test="ownername != null" >
        #{ownername,jdbcType=VARCHAR},
      </if>
      <if test="dbcselect3explain != null" >
        #{dbcselect3explain,jdbcType=VARCHAR},
      </if>
      <if test="lockstatusexplain != null" >
        #{lockstatusexplain,jdbcType=VARCHAR},
      </if>
      <if test="importstatus != null" >
        #{importstatus,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="highseaid != null" >
        #{highseaid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.mis.domain.entity.CRMAccount" >
    update CRM_Account
    <set >
      <if test="dbcinteger1 != null" >
        dbcInteger1 = #{dbcinteger1,jdbcType=INTEGER},
      </if>
      <if test="dbcinteger6 != null" >
        dbcInteger6 = #{dbcinteger6,jdbcType=INTEGER},
      </if>
      <if test="dbcvarchar2 != null" >
        dbcVarchar2 = #{dbcvarchar2,jdbcType=VARCHAR},
      </if>
      <if test="dbcreal1 != null" >
        dbcReal1 = #{dbcreal1,jdbcType=DOUBLE},
      </if>
      <if test="dbcselect3 != null" >
        dbcSelect3 = #{dbcselect3,jdbcType=INTEGER},
      </if>
      <if test="dbcsvarchar1 != null" >
        dbcSVarchar1 = #{dbcsvarchar1,jdbcType=VARCHAR},
      </if>
      <if test="ownerid != null" >
        ownerId = #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="accountname != null" >
        accountName = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="lockstatus != null" >
        lockStatus = #{lockstatus,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="ownerphone != null" >
        ownerPhone = #{ownerphone,jdbcType=VARCHAR},
      </if>
      <if test="levelexplain != null" >
        levelExplain = #{levelexplain,jdbcType=VARCHAR},
      </if>
      <if test="ownername != null" >
        ownerName = #{ownername,jdbcType=VARCHAR},
      </if>
      <if test="dbcselect3explain != null" >
        dbcSelect3Explain = #{dbcselect3explain,jdbcType=VARCHAR},
      </if>
      <if test="lockstatusexplain != null" >
        lockStatusExplain = #{lockstatusexplain,jdbcType=VARCHAR},
      </if>
      <if test="importstatus != null" >
        importStatus = #{importstatus,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="highseaid != null" >
        highSeaId = #{highseaid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.mis.domain.entity.CRMAccount" >
    update CRM_Account
    set dbcInteger1 = #{dbcinteger1,jdbcType=INTEGER},
      dbcInteger6 = #{dbcinteger6,jdbcType=INTEGER},
      dbcVarchar2 = #{dbcvarchar2,jdbcType=VARCHAR},
      dbcReal1 = #{dbcreal1,jdbcType=DOUBLE},
      dbcSelect3 = #{dbcselect3,jdbcType=INTEGER},
      dbcSVarchar1 = #{dbcsvarchar1,jdbcType=VARCHAR},
      ownerId = #{ownerid,jdbcType=INTEGER},
      accountName = #{accountname,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      lockStatus = #{lockstatus,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      ownerPhone = #{ownerphone,jdbcType=VARCHAR},
      levelExplain = #{levelexplain,jdbcType=VARCHAR},
      ownerName = #{ownername,jdbcType=VARCHAR},
      dbcSelect3Explain = #{dbcselect3explain,jdbcType=VARCHAR},
      lockStatusExplain = #{lockstatusexplain,jdbcType=VARCHAR},
      importStatus = #{importstatus,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=VARCHAR},
      highSeaId = #{highseaid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>