<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mis.dao.DTThreeMapper" >
  <resultMap id="BaseResultMap" type="com.cn.mis.domain.entity.DTThree" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mainid" property="mainid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cost_date" property="costDate" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="receipt_type" property="receiptType" jdbcType="INTEGER" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mainid, name, cost_date, amount, receipt_type, pay_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from formtable_main_4_dt3
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBySql" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from formtable_main_4_dt3
    where amount !=''
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from formtable_main_4_dt3
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.mis.domain.entity.DTThree" >
    insert into formtable_main_4_dt3 (id, mainid, name, 
      abstract, cost_date, amount, 
      receipt_type, pay_amount)
    values (#{id,jdbcType=INTEGER}, #{mainid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{abstract,jdbcType=VARCHAR}, #{costDate,jdbcType=CHAR}, #{amount,jdbcType=VARCHAR}, 
      #{receiptType,jdbcType=INTEGER}, #{payAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.mis.domain.entity.DTThree" >
    insert into formtable_main_4_dt3
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mainid != null" >
        mainid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="abstract != null" >
        abstract,
      </if>
      <if test="costDate != null" >
        cost_date,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="receiptType != null" >
        receipt_type,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="abstract != null" >
        #{abstract,jdbcType=VARCHAR},
      </if>
      <if test="costDate != null" >
        #{costDate,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="receiptType != null" >
        #{receiptType,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.mis.domain.entity.DTThree" >
    update formtable_main_4_dt3
    <set >
      <if test="mainid != null" >
        mainid = #{mainid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="costDate != null" >
        cost_date = #{costDate,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="receiptType != null" >
        receipt_type = #{receiptType,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.mis.domain.entity.DTThree" >
    update formtable_main_4_dt3
    set mainid = #{mainid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      cost_date = #{costDate,jdbcType=CHAR},
      amount = #{amount,jdbcType=VARCHAR},
      receipt_type = #{receiptType,jdbcType=INTEGER},
      pay_amount = #{payAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>